<!DOCTYPE html>
<html lang="en">
<head>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linked Out!</title>
    <!-- <title><%#= content_for?(:title) ? yield(:title) : "Myapp" %></title> -->
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
              <%#= render 'layouts/messages' %>
              <%= yield %>

              <section id="content">
                <%= yield %>
                <!-- Backbone Output In Here ! -->
              </section>

            </div>
          </div>
          <footer>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->

    <section id="footer">
    </section>

  </body>
  <%#= javascript_include_tag "backbone" if @backbone %>
</html>